.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 40 !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: fit-content;
    height: 600px;
    /* box-shadow: 0 15px 50px rgba(0,0,0,0.2); */
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100% !important;
        height: 500px;
        /* box-shadow: 0 15px 50px rgba(0,0,0,0.2); */
        border-radius: 2rem;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #3aadcb;
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*align-items: center;*/
    justify-content: center;
    z-index: 100 !important;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

/*.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}*/
