.swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 800px;
            height: 500px;
            /* box-shadow: 0 15px 50px rgba(0,0,0,0.2); */
            border-radius: 2rem;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 500px;
            border-radius: 2rem;
            object-fit: cover;
        }

        @media screen and (max-width: 1118px) {
            .mySwiper .swiper-slide {
                width: 75%;
                height: 378px;
                object-contain: fit;
                margin-top: -2rem;
            }

            .mySwiper .swiper-slide img {
                height: 378px;
                object-contain: fit;
            }
        }

        @media screen and (max-width: 767px) {
            .mySwiper .swiper-slide {
                height: 378px;
                width: 293px;
                object-contain: fit;
                margin-top: -2rem;
            }
            .mySwiper .swiper-slide img {
                height: 378px;
                object-contain: fit;
            }
        }