@tailwind base;

@layer base {
    /*remove focus:border-color: blue-ish color*/
    select:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: inherit !important;
    }

    .swiper {
        @apply relative;
    }

    .swiper-slide {
        box-shadow: 0px 0px 88px -10px rgba(57, 134, 163, 0.72);
        -webkit-box-shadow: 0px 0px 88px -10px rgba(57, 134, 163, 0.72);
        -moz-box-shadow: 0px 0px 88px -10px rgba(57, 134, 163, 0.72);
    }

    .active {
        @apply bg-white;
    }

    .active-mobile {
        @apply bg-primary;
    }

    .filter-container .active {
        @apply bg-primary text-white
    }

}


