.bg-hero {
    background-image: url('/assets/images/landing/bg-hero.png');
}

#swiperProduk {
    width: 900px;
    margin: 20px auto;
    overflow: hidden;

}

#swiperTestimoni {
    width: 900px;
    margin: 20px auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.swiper-pagination {
    position: relative;
    margin-top: 15px;
    text-align: center;
}

.swiper-pagination-bullet {
    background-color: #D0D0D0;
    opacity: 1;
    height: 8px;
    width: 8px;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #3886A3;
    width: 16px;
    height: 8px;
    border-radius: 10px;
}

.swiper-scrollbar  {
    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 4px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 1%;
    --swiper-scrollbar-bg-color: #D4D4D4;
    --swiper-scrollbar-drag-bg-color: #9DD4EE;
    --swiper-scrollbar-size: 10px;
}

/* Custom Responsive breakpoint */
@media (max-width: 400px) {
    .judul-mini {
        font-size: 33px;
    }

    .deskripsi-mini {
        font-size: 14px;
    }

    /* .bg-mini {
        height: 100vh;
    } */

    .stats-mini {
        position: absolute;
        bottom: -270px
    }

    .text-mini {
        margin-top: 310px;
    }
}

@media (max-width: 850px) {
    #navLinks {
        display: none;
    }
    #burgerMenu {
        display: block;
    }
}


@media (min-width: 851px) {
    #navLinks {
        display: flex;
    }
    #burgerMenu {
        display: none;
    }
}



/* Responsive breakpoint */
@media (max-width: 640px) {
    .swiperContainer {
        overflow: hidden;
        margin: 0px 16px;
    }

    #swiperProduk {
        width: 500px;
    }

    #swiperTestimoni {
        width: 510px;
    }

    .bg-hero {
        background-image: url('/assets/images/landing/bg-hero-mobile.png');
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    #swiperProduk {
        width: 550px;
    }

    #swiperTestimoni {
        width: 580px;
    }

    .swiperContainer {
        overflow: hidden;
        margin: 0px 80px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #swiperProduk {
        width: 800px;
        margin: 20px auto;
    }

    .swiperContainer {
        overflow: hidden;
        margin: 0px 80px;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    #swiperTestimoni {
        width: 850px;
        margin: 20px auto;
    }

    .swiperContainer {
        overflow: hidden;
        margin: 0px 80px;
    }
}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}
