.text-gradient {
    background: linear-gradient(to right, #3886A3, #225062); 
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
}

.bg-psikolog {
    background-image: url('/assets/images/landing/asset-konseling/image/bg-psikolog.png');
}

.bg-wave {
    background-image: url('/assets/images/landing/asset-konseling/vector/vector-wave.svg');
    background-repeat: no-repeat; 
    background-position: center; 
}

.swiperContainer {
    overflow: hidden;
}

#swiperConsulting {
    width: 900px;
    overflow: hidden;
    margin: 20px auto;
    padding-bottom: 35px;
}

.swiper-pagination {
    position: relative;
    padding-top: 20px;
}

.swiper-pagination-bullet {
    background-color: #D0D0D0; 
    opacity: 1;
    height: 8px;
    width: 8px;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #3886A3; 
    width: 16px;
    height: 8px;
    border-radius: 10px;
}

@media (max-width: 640px) {
    .bg-psikolog {
        background-image: none;
    }

    #swiperConsulting {
        width: 450px;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .bg-psikolog {
        background-image: none;
    }

    #swiperConsulting {
        width: 500px;
    }
}

@media (max-width: 992px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    #swiperConsulting {
        width: 750px;
    }
}