.text-gradient {
    background: linear-gradient(to right, #3886A3, #225062); 
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
}

#swiperKonseling {
    width: 1100px;
    margin: 20px auto;
    overflow: hidden;
}

#swiperPsikolog {
    width: 1130px;
    overflow: hidden;
    margin: 25px auto;
}

#swiperPsikolog .swiper-button-next::after, #swiperPsikolog .swiper-button-prev::after {
    content: "";
}

#swiperPsikolog .swiper-button-prev,
#swiperPsikolog .swiper-button-next {
  width: 35px; 
  height: 35px; 
  background-color: #74AABF; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#swiperPeer {
    width: 1000px;
    overflow: hidden;
    margin: 20px auto;
}

#swiperTestimoni {
    width: 900px; 
    margin: 20px auto;
    overflow: hidden;
    padding-bottom: 10px;
}

.bg-psikolog {
    background-image: url('/assets/images/landing/asset-konseling/image/bg-psikolog.png');
}

.bg-wave {
    background-image: url('/assets/images/landing/asset-konseling/vector/vector-wave.svg');
    background-repeat: no-repeat; 
    background-position: center; 
}


.swiper-pagination {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.swiper-pagination-bullet {
    background-color: #D0D0D0; 
    opacity: 1;
    height: 8px;
    width: 8px;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #3886A3; 
    width: 16px;
    height: 8px;
    border-radius: 10px;
}

.swiper-scrollbar  {
    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 4px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 1%;
    --swiper-scrollbar-bg-color: #D4D4D4;
    --swiper-scrollbar-drag-bg-color: #9DD4EE;
    --swiper-scrollbar-size: 10px;
}

.border-active {
    border: 1.5px solid #3986A3
}

@media (max-width: 390px) {
    .bg-psikolog {
        height: 1150px;
    }
}

@media (min-width: 0px) and (max-width: 640px) {
    #swiperKonseling {
        width: 580px;
    }

    #swiperPsikolog {
        width: 800px;
        margin: 10px auto;
    }

    #swiperPeer{
        width: 550px;
        margin: 10px auto;
    }

    #swiperTestimoni {
        width: 500px;
    }

    .swiperContainer {
        overflow: hidden;
        margin: 0px 17px;
    }

}

@media (max-width: 767px) {
    .bg-psikolog {
        background-image: none;
    }
}

@media (min-width: 641px) and (max-width: 767px) { 
    #swiperKonseling {
        width: 670px;
    }

    #swiperPsikolog {
        width: 700px;
    }

    #swiperPeer {
        width: 700px;
    }

    #swiperTestimoni {
        width: 550px;
    }

    .swiperContainer {
        overflow: hidden;
        margin: 0px 80px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #swiperTestimoni {
        width: 800px; 
        margin: 20px auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #swiperKonseling {
        width: 950px;
    }

    #swiperPsikolog {
        width: 950px;
    }

    #swiperPeer {
        width: 750px;
    }

    .swiperContainer {
        overflow: hidden;
        margin: 0px 80px;
    }
}

@media (min-width: 1025px) {
    #swiperPsikolog {
        padding-left: 25px;
        padding-right: 25px;
    }
}