.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -160px;
  }
}

.item {
  width: 160px;
  height: 80px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(160px * 29), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-delay: calc(30s / 29 * (29 - var(--i)) * -1);
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bg-wave {
  background-image: url('/assets/images/landing/asset-konseling/vector/vector-wave.svg');
  background-repeat: no-repeat; 
  background-position: center; 
}


@media (max-width: 400px) {
  .nilai {
    margin-top: 90px;
  }
}

@media (max-width: 420px) {
  .misi {
    top: 110px;
  }
}

@media (max-width: 640px) {
  #mitra .item {
    width: 140px;
    height: 60px;
    left: max(calc(150px * 24), 100%);
  }
}